.slider-img{
    height: 500px;
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
    border: 20px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #FED6BC 0%, #FF6666 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #FED6BC 0%, #FF6666 100%);
    border-image: linear-gradient(to bottom, #FED6BC 0%, #FF6666 100%);
    border-image-slice: 1;

}
/*.slider-img::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-color: rgba(255, 255, 255, .45);*/
/*    z-index: 2;*/
/*}*/

.slider-img_slide{
    height: 500px;
    overflow: hidden;
}

.slider-img_gb{
    height: 500px;
    background-position: center;
    background-size: cover;
}

