@media (max-width: 992px) {

}

body {
    margin: 0;
    min-width: 250px;
}


/* отступ и граница в общ. ширине */
* {
    box-sizing: border-box;
}



#ToDoList ul {
    margin: 0;
    padding: 0;
}



#ToDoList ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 17px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



#ToDoList ul li:nth-child(odd) {
    background: #f9f9f9;
}


#ToDoList ul li:hover {
    background: #FED6BC;
}


#ToDoList ul li.checked {
    background: darksalmon;
    text-decoration: line-through;
}


#ToDoList ul li.checked::before {
    content: '';
    position: absolute;
    border-color: lightgreen;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg); /*перемещает элемент вокруг неподвижной точки (угол поворота)*/
    height: 15px;
    width: 7px;
}


/* кнопка ??? */

/*#ToDoList .close {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    padding: 12px 16px 12px 16px;*/
/*}*/

/*#ToDoList .close:hover {*/
/*    background-color: #f44336;*/
/*    color: white;*/
/*}*/


#ToDoList form {
    background: linear-gradient(to right, #FF9999, #FF6666);
    padding: 30px 40px;
    color: white;
    text-align: center;
}



#ToDoList form:after {
    content: "";
    display: table;
    clear: both; /* нет обтекания слева справа */
}



#ToDoList input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 17px;
}



#ToDoList .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

#ToDoList .addBtn:hover {
    background-color: rgb(255, 236, 149);
}

a {
    margin-right: 90px;
}


@media screen and (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media screen and (max-width: 720px) {
    .container {
        max-width: 550px;
    }
}

@media screen and (max-width: 550px) {
    #ToDoList ul li {
        font-size: 10px;
    }

    #ToDoList .addBtn {
        font-size: 10px;
    }

    #ToDoList input {
        font-size: 10px;
    }
}
